<h3 mat-dialog-title>Order Details</h3>
<mat-dialog-content>
  <mat-label><strong>Table Number:</strong> {{order.tableNumber}} </mat-label>
  <br/>
  <mat-label><strong>isReady:</strong> {{order.isReady}} </mat-label>
  <br/>
  <mat-label><strong>Date:</strong> {{order.date}} </mat-label>
  <br/>
  <app-crud [columns]="columns" [createAction]="false" [data]="data"
            [deleteAction]="false" [readAction]="false" [title]="title" [updateAction]="false"></app-crud>

  <mat-label><strong>Subtotal:</strong> {{subtotal }} </mat-label>
  <br/>
  <mat-label><strong>Tax 12%:</strong> {{tax}} </mat-label>
  <br/>
  <mat-label><strong>Total:</strong> {{total}} </mat-label>
  <br/>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button  (click)="createInvoice()" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Crear Factura</span>
  </button>
</mat-dialog-actions>
