  <ng-sidebar-container>
    <ng-sidebar
      [(opened)]="_opened"
      [mode]="_MODES[2]"
      [keyClose]="false"
      [position]="_POSITIONS[0]"
      [dock]="false"
      [dockedSize]="'50px'"
      [autoCollapseHeight]="_autoCollapseHeight"
      [autoCollapseWidth]="_autoCollapseWidth"
      [closeOnClickOutside]="true"
      [closeOnClickBackdrop]="true"
      [showBackdrop]="false"
      [animate]="_animate"
      [trapFocus]="true"
      [autoFocus]="true"
      [ariaLabel]="'Menu Principal'"
      (onOpenStart)="_onOpenStart()"
      [sidebarClass]="'demo-sidebar'"
      (onOpened)="_onOpened()"
      (onCloseStart)="_onCloseStart()"
      (onClosed)="_onClosed()"
      (onTransitionEnd)="_onTransitionEnd()"
    >
      <div style="width: 200px"></div>
      <ul class="nav flex-column">
        <li class="nav-item text-center">
          <img src="../../assets/img/logo.png" width="80 px" style="margin-right: 10pt">
        </li>
        <li *ngIf="isAdmin || isManager || isWaiter" class="nav-item">
          <a class="nav-link" routerLink="/home/overview">
            <span class="material-icons">dashboard</span>
            Overview
          </a>
        </li>
        <li *ngIf="isAdmin || isManager || isWaiter" class="nav-item">
          <a class="nav-link" routerLink="/home">
            <span class="material-icons">speaker_notes</span>
            Ordenes
          </a>
        </li>
        <li *ngIf="isManager || isAdmin" class="nav-item" routerLink="/home/menu">
          <a routerLink="/home" class="nav-link">
            <span class="material-icons">fastfood</span>
            Administrar Menú
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">
            <span class="material-icons">settings</span>
            Administrar Mesas
          </a>
        </li>
      </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
      <header class="demo-header">
        <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>

        <span class="font-weight-bolder">ToberuMan</span>
        <button routerLink="/" mat-button>
          <span>{{username}}</span>
          <mat-icon>account_circle</mat-icon>
          <span>Logout</span>
        </button>
      </header>
      <section class="demo-contents">
        <router-outlet></router-outlet>
      </section>
    </div>
  </ng-sidebar-container>


